##gradle
/.gradle
/build
/eclipse

##ForgeGradle
/run
/out

## idea
*.iml
*.ipr
*.iws

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

##Allow obj files. I have no idea why it ignores them by default but yeah
!*.obj